.fondo_blanco{
	background-color: #fff;
}
.texto_blanco{
	color:  #fff;
}
.texto_negro{
	color:  #000;
}
.span_rojo{
	color: #BD3F3F;
}
.span_texto_mediano{
	padding: 18px;
}
.padding_1em{
	padding: 1em;
}
.border_right_1{
	border-right: solid 1px #E6E6E6;
}
.img_hover:hover{
    box-shadow: 0px 0px 4px 0px #9A9A9A;
    -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
}
.input_100{
	width: 100%;
}